body{background-color: #183A4A;}

.container{max-width: 1300px !important;}

#my_box div {
    width: 130px;
    height: 130px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}